html,
body
{
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  height:100%;
}

body
{
  background-image: url("/images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  margin: 0
}

header,
main,
footer
{
  font-size: 2rem;
  margin: 0 auto;
}

header
{
  border-top: 40px #4f70ad solid;
  padding: 50px 50px 0;
}

main
{
  padding: 0 50px 0;
  max-width: 1280px;
}

.inner_wrapper
{
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer
{
  color: #fff;
  background-color: #4f70ad;
  padding: 50px;
}

address
{
  font-style: normal;
}

/* h1 */

h1
{
  font-size: 2.3rem;
  padding: 0.5rem;
  margin: 3rem 0 2rem;
  background-color: rgba(85,204,238,1);
  border-top: 9px #eecc55 dotted;
  border-bottom: 9px #eecc55 dotted;
}

/* h2 */

h2
{
  font-size: 2.3rem;
  padding: 0.5rem;
  margin: 3rem 0 2rem;
  background-color: rgba(85,204,238,0.8);
  border-top: 5px #eecc55 dotted;
  border-bottom: 5px #eecc55 dotted;
}

/* h3 */

h3
{
  font-size: 2.1rem;
  padding: 0.1rem;
  margin: 2rem 0 1rem;
  background-color: rgba(85,204,238,0.6);
  border-top: 3px #eecc55 dotted;
  border-bottom: 3px #eecc55 dotted;
}

/* ul */

ul li
{
  width:100%;
  list-style: none;
}

/*    */
.hilite1
{
  background-color: rgba(235,125,125,0.8);
  font-color: rgba(85,204,238,1);
}

.hilite2
{
  background-color: rgba(255,255,255,0.6);
  font-color: rgba(0,0,0,1);
}

/* table */

tbody
{
	-webkit-text-size-adjust: 100%;
}

table
{
	border-spacing: 0;
	box-sizing: border-box;
	width: 100%;
	border-collapse: collapse;
	border-top: 1px #bbb solid;
	border-left: none;
}

table th,
table td
{
	text-align: left;
	padding: 1rem 1rem;
	border-bottom: 1px #bbb solid;
	border-right: none;
}

table thead th
{
}

table th
{
  width: 6em;
}

table td
{
}

table td *
{
	margin: 0;
}
